<h3>Tip</h3>
<table>
  <thead>
    <tr>
      <th>Chain height</th>
      <th>Best block</th>
      <th>Pruned height</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center;">{{this.tipInfo.metadata.best_block_height}}</td>
      <td style="text-align: center;">{{hex this.tipInfo.metadata.best_block_hash}}</td>
      <td style="text-align: center;">{{this.tipInfo.metadata.pruned_height}}</td>
      <td style="text-align: center;">{{this.version}}</td>
    </tr>
  </tbody>
</table>
<br />

<h3>Proof of work split</h3>
<table>
  <thead>
    <tr>
      <th rowspan="2">&nbsp;</th>
      <th colspan="4">
        In the last x blocks
      </th>
    </tr>
    <tr>
      <th>10</th>
      <th>20</th>
      <th>50</th>
      <th>100</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Monero (RandomX)</th>
      <td style="text-align: center;">{{this.algoSplit.moneroRx10}}
        {{percentbar this.algoSplit.moneroRx10 this.algoSplit.sha3X10 this.algoSplit.tariRx10}}</td>
      <td style="text-align: center;">{{this.algoSplit.moneroRx20}}
        {{percentbar this.algoSplit.moneroRx20 this.algoSplit.sha3X20 this.algoSplit.tariRx20}}</td>
      <td style="text-align: center;">{{this.algoSplit.moneroRx50}}
        {{percentbar this.algoSplit.moneroRx50 this.algoSplit.sha3X50 this.algoSplit.tariRx50}}</td>
      <td style="text-align: center;">{{this.algoSplit.moneroRx100}}
        {{percentbar this.algoSplit.moneroRx100 this.algoSplit.sha3X100 this.algoSplit.tariRx100}}</td>
    </tr>
    <tr>
      <th>SHA-3X</th>
      <td style="text-align: center;">{{this.algoSplit.sha3X10}}
        {{percentbar this.algoSplit.sha3X10 this.algoSplit.moneroRx10 this.algoSplit.tariRx10}}</td>
      <td style="text-align: center;">{{this.algoSplit.sha3X20}}
        {{percentbar this.algoSplit.sha3X20 this.algoSplit.moneroRx20 this.algoSplit.tariRx20}}</td>
      <td style="text-align: center;">{{this.algoSplit.sha3X50}}
        {{percentbar this.algoSplit.sha3X50 this.algoSplit.moneroRx50 this.algoSplit.tariRx50}}</td>
      <td style="text-align: center;">{{this.algoSplit.sha3X100}}
        {{percentbar this.algoSplit.sha3X100 this.algoSplit.moneroRx100 this.algoSplit.tariRx100}}</td>
    </tr>
    <tr>
      <th>Tari (RandomX)</th>
      <td style="text-align: center;">{{this.algoSplit.tariRx10}}
        {{percentbar this.algoSplit.tariRx10 this.algoSplit.moneroRx10 this.algoSplit.sha3X10}}</td>
      <td style="text-align: center;">{{this.algoSplit.tariRx20}}
        {{percentbar this.algoSplit.tariRx20 this.algoSplit.moneroRx20 this.algoSplit.sha3X20}}</td>
      <td style="text-align: center;">{{this.algoSplit.tariRx50}}
        {{percentbar this.algoSplit.tariRx50 this.algoSplit.moneroRx50 this.algoSplit.sha3X50}}</td>
      <td style="text-align: center;">{{this.algoSplit.tariRx100}}
        {{percentbar this.algoSplit.tariRx100 this.algoSplit.moneroRx100 this.algoSplit.sha3X100}}</td>
    </tr>
  </tbody>
</table>
<br />

<table class="noborder">
  <tr>
    <td>
      <h3>Block times (minutes)</h3>
      Target time: 2 minutes
      <h3>All</h3>
      <pre>{{chart this.blockTimes 15}}
      </pre>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Monero RandomX</h3>
      Target time: 6 minutes
      <pre>{{chart this.moneroRandomxTimes 15}}
      </pre>
    </td>
    <td>
      <h3>SHA3X</h3>
      Target time: 6 minutes
      <pre>{{chart this.sha3xTimes 15}}
      </pre>
    </td>
    <td>
      <h3>Tari RandomX</h3>
      Target time: 6 minutes
      <pre>{{chart this.tariRandomxTimes 15}}
      </pre>
    </td>
  </tr>
</table>
<br />

<table class="noborder">
  <tr>
    <td>
      <h3>Monero RandomX</h3>
      Current estimated Hash Rate (180 blocks, 1.5 hours):
      {{this.currentMoneroRandomxHashRate}}
      H/s ({{this.averageMoneroRandomxMiners}} average miners)
      <pre>{{chart this.moneroRandomxHashRates 15}}
      </pre>
    </td>
  </tr>
  <tr>
    <td>
      <h3>SHA3X</h3>
      Current estimated Hash Rate (180 blocks, 1.5 hours):
      {{this.currentSha3xHashRate}}
      H/s ({{this.averageSha3xMiners}} average miners)
      <pre>{{chart this.sha3xHashRates 15}}
      </pre>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Tari RandomX</h3>
      Current estimated Hash Rate (180 blocks, 1.5 hours):
      {{this.currentTariRandomxHashRate}}
      H/s ({{this.averageTariRandomxMiners}} average miners)
      <pre>{{chart this.tariRandomxHashRates 15}}
      </pre>
    </td>
  </tr>
</table>
<br />

<h2>{{title}}</h2>
<table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Time</th>
      <th>Proof of Work</th>
      <th>Hash</th>
      <th>Total Coinbase (XTM)</th>
      <th>Kernels</th>
      <th>Coinbase Outputs</th>
      <th>Other Outputs</th>
      <th>Inputs</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.headers}}
    <tr>
      <td><a href="blocks/{{this.height}}">{{this.height}}</a></td>
      <td style="text-align: center;">{{timestamp this.timestamp}}</td>
      <td style="text-align: center;">{{this.powText}}</td>
      <td style="text-align: center;">{{hex this.hash}}</td>
      <td style="text-align: center;">{{totalCoinbaseXtm}}</td>
      <td style="text-align: center;">{{kernels}}</td>
      <td style="text-align: center;">{{numCoinbases}}</td>
      <td style="text-align: center;">{{numOutputsNoCoinbases}}</td>
      <td style="text-align: center;">{{numInputs}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <a href="/?from={{prevPage}}&limit={{limit}}">&lt; Prev</a>
  <a href="/?limit={{limit}}">Tip</a>
  <a href="/?from={{nextPage}}&limit={{limit}}">Next &gt;</a>
</p>
<p>
  Show per page:
  <a href="/?from={{from}}&limit=10">10</a>
  <a href="/?from={{from}}&limit=20">20</a>
  <a href="/?from={{from}}&limit=50">50</a>
  <a href="/?from={{from}}&limit=100">100</a>
</p>
<br />

<h2>Mempool</h2>
<table>
  <thead>
    <tr>
      <th>Excess</th>
      <th>Total Fees</th>
      <th>Outputs</th>
      <th>Kernels</th>
      <th>Inputs</th>
    </tr>
  </thead>
  <tbody>
    {{#each mempool}}
    {{#with this.transaction.body}}
    <tr>
      <td><a href="/mempool/{{hex this.signature}}">{{hex
          this.signature
          }}</a></td>
      <td style="text-align: center;">{{this.total_fees}}</td>
      <td style="text-align: center;">{{this.outputs.length}}</td>
      <td style="text-align: center;">{{this.kernels.length}}</td>
      <td style="text-align: center;">{{this.inputs.length}}</td>
    </tr>
    {{/with}}
    {{/each}}
  </tbody>
</table>
<br />

<h2>Active Validator Nodes</h2>
<table>
  <thead>
    <tr>
      <th>Public key</th>
      <th>Shard key</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.activeVns}}
    <tr>
      <td>{{hex this.public_key}}</td>
      <td>{{hex this.shard_key}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />

<form method="get" action="search_commitments">
  <label for="c">Find commitment</label>
  <input id="c" name="c" type="text" />
  <button type="submit">search</button>
</form>

<form method="get" action="search_kernels">
  <label for="c">Find kernel</label>
  <input id="nonces" name="nonces" type="text" />
  <input id="signatures" name="signatures" type="text" />
  <button type="submit">search</button>
</form>