<a href="/">Back</a>
{{#with this.tx}}
  <h3>Meta</h3>
  <table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
      <tr><th>Offset</th></tr>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: top;">{{hex this.offset}}</td></tr>
    </tbody>
  </table>
  <h3>Inputs</h3>
  <table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
      <tr>
        <th>Features</th>
        <th>Commitment</th>
        <th>Hash</th>
        <th>Script</th>
        <th>Input Data</th>
        <th>Script Signature</th>
        <th>Sender Offset Public Key</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.body.inputs}}
        <tr>
          <td style="vertical-align: top;"><i>Flags</i><br />
            {{features.flags}}<hr /><i>Maturity</i><br />
            {{features.maturity}}</td>
          <td style="vertical-align: top;">{{hex commitment}}</td>
          <td style="vertical-align: top;">{{hex hash}}</td>
          <td style="vertical-align: top;">{{hex script}}</td>
          <td style="vertical-align: top;">{{hex input_data}}</td>
          <td style="vertical-align: top;">
            {{>ComSignature script_signature}}
          </td>
          <td style="vertical-align: top;">{{hex sender_offset_public_key}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <br />
  <h3>Outputs</h3>
  <table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
      <tr>
        <th>Features</th>
        <th>Commitment</th>
        <th>Range Proof</th>
        <th>Hash</th>
        <th>Script</th>
        <th>Sender Offset Public Key</th>
        <th>Metadata Signature</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.body.outputs}}
        <tr>
          <td style="vertical-align: top;"><i>Flags</i><br />
            {{features.flags}}<hr /><i>Maturity</i><br />
            {{features.maturity}}</td>
          <td style="vertical-align: top;">{{hex commitment}}</td>
          <td style="width:850px;display:block;word-break:break-all;">{{
              range_proof
            }}</td>
          <td style="vertical-align: top;">{{hex hash}}</td>
          <td style="vertical-align: top;">{{hex script}}</td>
          <td style="vertical-align: top;">{{hex sender_offset_public_key}}</td>
          <td style="vertical-align: top;">
            {{>ComSignature metadata_signature}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <br />
  <h3>Kernels</h3>
  <table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
      <tr>
        <th>Features</th>
        <th>Fee</th>
        <th>Lock Height</th>
        <th>Excess</th>
        <th>Excess Signature</th>
        <th>Hash</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.body.kernels}}
        <tr>
          <td style="vertical-align: top;">{{features}}</td>
          <td style="vertical-align: top;">{{fee}}</td>
          <td style="vertical-align: top;">{{lock_height}}</td>
          <td style="vertical-align: top;">{{hex excess}}</td>
          <td style="vertical-align: top;"><i>Nonce</i>
            {{hex excess_sig.public_nonce}}<hr /><i>Sig</i>
            {{hex excess_sig.signature}}</td>
          <td style="vertical-align: top;">{{hex hash}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/with}}
