<table>
  <thead>
  <tr>
    <th>Block Height</th>
    <th>Total Coinbase (XTM)</th>
    <th>Coinbase Outputs</th>
    <th>Other Outputs</th>
    <th>Inputs</th>
    <th>PoW</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>
  {{#each stats}}
    <tr style="text-align: center;">
      <td>{{this.height}}</td>
      <td>{{this.totalCoinbaseXtm}}</td>
      <td>{{this.numCoinbases}}</td>
      <td>{{this.numOutputsNoCoinbases}}</td>
      <td>{{this.numInputs}}</td>
      <td>{{this.powAlgo}}</td>
      <td>{{this.timestamp}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
